/* Global Styles */

*, *:before, *:after {
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
     box-sizing: border-box;
}

::-moz-selection {
    color: #1C1C1E;
    background: #FFCC00;
  }
  
::selection {
    color: #1C1C1E;
    background: #FFCC00;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #1C1C1E;
    color: #1C1C1E;
}

button {
    font-size: 16px;
    font-weight: bold;
    height: 48px;
    border-radius: 24px;
    padding: 0pc 32px;
    background-color: transparent;
}

button.primary {
    color: #1C1C1E;
    background-color: #FFCC00;
}

button.secondary {
    color: #FFFFFF;
    border: 2px solid #FFCC00;
}

nav {
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 52px;
    background-color: transparent; /* Transparent until scroll */
}

nav.scrolled {
    background-color: #1C1C1E;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
}

.navLogo {
    padding: 12px;
    opacity: 0;
}

.navLogo img {
    width: 28px;
    height: 28px;
}

nav.scrolled .navLogo {
    opacity: 1;
}

.navTitle {
    font-family: "Bebas Neue", sans-serif;
    padding-top: 4px;
    font-size: 20px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    line-height: 48px;
    opacity: 0;
}

nav.scrolled .navTitle {
    opacity: 1;
}

#navMenuButton {
    padding: 12px;
}

#navMenuButton img {
    width: 28px;
    height: 28px;
}

.mainWrapper { /* this makes the website height fixed on mobile */
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
}

/* HOME */

.homeContainer {
    height: 100dvh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url("../assets/home_background.png");
    background-size: cover;
    background-position: center;
    overflow: auto;
}

.homeContainer::-webkit-scrollbar {
    display: none;
}

.homeLogo {
    width: 120px;
    height: auto;
    padding: 72px 0px 48px 0px;
}

.homeTitle {
    font-size: 56px;
    max-width: 640px;
    line-height: 56px;
    color: #FFFFFF;
    font-family: "Bebas Neue", sans-serif;
    font-weight:400;
    font-style: normal;
    text-align: center;
    letter-spacing: 0.1em;
    padding: 0px 48px 24px 48px;
}

.homeDescription {
    max-width: 480px;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    padding: 0px 48px 48px 48px;
    text-align: center;
    color: #E5E5EA;

}

.homeButtons {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 32px;
    align-items: center;
    justify-content: center;
}

.homeAbout {
    color: #1C1C1E;
    max-width: 480px;
    padding: 24px;
    margin: 32px;
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(16px);
    border-radius: 8px;
}

.homeFooter {
    line-height: 24px;
    color: #FFCC00;
    font-weight: bold;
    padding: 0px 0px 32px 0px;
}

/* GUIDES */

.guidesContainer {
    margin: auto;
    height: 100dvh;
    background-color: #E5E5EA;
    overflow: auto;
}

.guidesContainer::-webkit-scrollbar {
    display: none;
}

.guidesGroups {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 68px 16px 16px 16px;
}

.guidesGroupTitle {
    font-size: 14px;
    color: #636366;
    padding: 0px 12px 8px 12px;
}

.guidesGroupList {
    padding: 0px 0px 0px 12px;
    background-color: #FFFFFF;
    border-radius: 8px;
}

.guidesGroupList a {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    padding: 12px 0px;
    line-height: 20px;
    align-items: center;
    color: #1C1C1E;
    text-decoration: none;
    border-bottom: 1px solid #E5E5EA;
}

.guidesGroupList a:last-child { 
    border-bottom: none; 
}

.guideElLeft {
    display: flex;
    align-items: center;
    gap: 8px;
}

.guideElLeft img {
    width: 20px;
    height: 20px;
}

.guideElLeft p {
    line-height: 20px;
}

.guideElRight {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-right: 8px;
}

.guideElRight img {
    width: 20px;
    height: 20px;
}

.guideElRight p {
    background: #FFCC00;
    height: 18px;
    font-size: 12px;
    color: #FFFFFF;
    font-weight: bold;
    line-height: 18px;
    padding: 0px 4px;
    border-radius: 2px;
}

.guidesNotification {
    position: fixed;
    width: 100dvw;
    bottom: 0;
    background-color: #FFCC00;
}

.guidesNotification p {
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    color: #1C1C1E;
    padding: 16px;
}

.guidesNotification a {
    color: #1C1C1E;
}

/* CONTACT */

.contactContainer {
    width: 100dvw;
    height: 100dvh;
    background-color: #FFCC00;
    overflow: auto;
}

.contactContainer::-webkit-scrollbar {
    display: none;
}

.contactForm {
    max-width: 640px;
    margin: auto;
    padding: 84px 32px 32px 32px;
    gap: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contactInput {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.nameInput, .emailInput {
    width: calc(50% - 8px);
}

.contactInput label {
    font-size: 14px;
    color: #1C1C1E;
    /* padding: 0px 12px 8px 12px; */
    padding-bottom: 8px;
    font-weight: 500;
}

.contactInput input, textarea {
    font-family: "Roboto", sans-serif;
    width: 100%;
    padding: 12px;
    font-size: 16px;
    line-height: 20px;
    border-radius: 4px;
}

.contactInput input::placeholder, textarea::placeholder{
    color: #C7C7CC;
}

.contactInput textarea {
    resize: none;
    height: auto
}

.contactConsent label{
    font-size: 14px;
    line-height: 16px;
    padding-top: 4px;
}

.toggleButton{
    display:none;
}
.toggleButton + label{
    background:url('../assets/toggle_off_icon.svg') no-repeat;
    height: 24px;
    line-height: 24px;
    display:inline-block;
    padding: 0px 0px 0px 50px;
    cursor: pointer;
}
.toggleButton:checked + label{
    background:url('../assets/toggle_on_icon.svg') no-repeat;
}

#submitButton {
    margin-top: 16px;
    color: #FFFFFF;
    background-color: #1C1C1E;
}

#submitButton:disabled {
    opacity: 0.25;
}



/* Media Queries */
@media only screen and (max-width: 640px) {
    .nameInput, .emailInput {
        width: 100%;
    }

    #submitButton {
        width: 100%;
    }
}
